.form{
    margin: 0px;
    padding: 0;
    margin-top: 10%;
}
.ad-soyad{
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background: linear-gradient(145.44deg, #F2F4FA 0%, #FAFBFC 100%);
    padding: 30px;
    border-radius: 20px;
    justify-content: center;
    margin-bottom: 25px;
}


.il-ilce-mahalle{
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    justify-content: center;
    margin-bottom: 15px;
    background: linear-gradient(145.44deg, #F2F4FA 0%, #FAFBFC 100%);
    padding: 30px;
    margin-bottom: 25px;
    border-radius: 20px;
}

.mail-telefon{
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    justify-content: center;
    margin-bottom: 15px;
    background: linear-gradient(145.44deg, #F2F4FA 0%, #FAFBFC 100%);
    padding: 30px;
    margin-bottom: 25px;
    border-radius: 20px;
}


.row .HesapButon{
    justify-content: center;
    padding: 15px;
}

.HesapDuzenle{
    background-color: #49eb34;
    color: white;
    width: 100%;
}

.HesapDuzenle:hover{
    background-color: transparent;
    border-color: #49eb34;
    color: #49eb34;
    transition: all .5s ease-in-out;
}

.HesapKaydet{
    background-color: #49eb34;
    color: white;
    width: 100%;
}

.HesapKaydet:hover{
    background-color: transparent;
    border-color: #49eb34;
    color: #49eb34;
    transition: all .5s ease-in-out;
}