.form{
    margin: 0px;
    padding: 0;
    margin-top: 10%;
}
.ad-soyad{
    box-shadow: 0px 20px 40px rgba(96, 109, 117, 0.03);
    background: linear-gradient(145.44deg, #F2F4FA 0%, #FAFBFC 100%);
    padding: 30px;
    border-radius: 20px;
    justify-content: center;
    margin-bottom: 25px;
}


.il-ilce-mahalle{
    box-shadow: 0px 20px 40px rgba(96, 109, 117, 0.03);
    justify-content: center;
    margin-bottom: 15px;
    background: linear-gradient(145.44deg, #F2F4FA 0%, #FAFBFC 100%);
    padding: 30px;
    margin-bottom: 25px;
    border-radius: 20px;
}

.mail-telefon{
    box-shadow: 0px 20px 40px rgba(96, 109, 117, 0.03);
    justify-content: center;
    margin-bottom: 15px;
    background: linear-gradient(145.44deg, #F2F4FA 0%, #FAFBFC 100%);
    padding: 30px;
    margin-bottom: 25px;
    border-radius: 20px;
}


.buton{
    justify-content: center ;
    padding: 15px;
}

.duzenle{
    background-color: #49eb34;
    color: white;
    width: 100%;
}

.duzenle:hover{
    background-color: transparent;
    border-color: #49eb34;
    color: #49eb34;
    transition: all .5s ease-in-out;
}

.kaydet{
    background-color: #49eb34;
    color: white;
    width: 100%;
}

.kaydet:hover{
    background-color: transparent;
    border-color: #49eb34;
    color: #49eb34;
    transition: all .5s ease-in-out;
}