* {
    padding: 0;
    margin: 0;
}



h2 {
    padding: 20px;
    text-align: center;
}

.categories {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.categories button {
    background-color: white;
    padding: 10px;
    border: none;
}

.categories button:hover {
    background-color: #00008B;
    color: white;
    border-radius: 10px 0px 0px 10px;
}