.CategoryButton {
    background-color: gray;
    font-size: 1em;
    height: 10vh;
    width: 10vw;
}

.CategoryButton a {
    display: block;
}

.FilterButton {
    background-color: #d5f9ff;
    height: auto;
    width: 10vw;
}

.FilterButton button {
    border: none;
    border-radius: 1em;
    color: white;
    width: auto;
    height: 3em;
    display: block;
    background-color: #26384a;
    margin: 1em;
    transition-duration: .15s;
}

.FilterButton button:hover {
    color: #161715;
    background-color: #ffffff;
}

.FilterButton button:active {
    background-color: #97358a;
}

.Card {
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10vw;
    height: 20vh;
    min-width: 5vw;
    min-height: 10vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 2vw;
    margin-right: 2vw;
    background-color: #d5f9ff;
    transition: .4s;
    grid-column: span;
}

.Card:hover {
    background-color: #97358a;
    box-shadow: .5em .5em #161715AA;
}

.Card img {
    border-radius: 0.2em;
    margin: 1em;
    display: block;
    width: 7.5em;
    height: 7.5em;
}

.Card p {
    margin: 1em;
    font-size: .5vw;
    grid-column: span 2;
    /* Each item spans two columns */
    grid-row: 1;
    /* Placed in the first row */
}

.Card h1 {
    font-size: 1vw;
}

.Panel {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20vh, 1fr));
    gap: 10px;
    /* Optional gap between grid items */
    max-width: 60vw;
    /* Set a maximum width for the container */
    margin: 0 auto;
    /* Center the container */
    padding: 20px;
    /* Optional padding */
}