
.products {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.products div.img {
    padding:  10px;
    margin: 5px;
}

.products img {
    width: 100px;
    border-radius: 10px;

}
.products a{
    text-decoration: none;
    color: black;
}

