
.products {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.products div.img {
    padding: 0 10px;
    background: gray;
    margin: 5px;
    border-radius: 10px;
}

.products img {
    width: 100px;
}


